.student-profile {
  padding: 24px;
  background: #f9fafb;
  min-height: 100vh;

  .sidebar-card {
    position: sticky;
    top: 24px;
    border-radius: 16px;

    .ant-list-item {
      cursor: pointer;
      padding: 8px 16px;
      transition: background 0.3s;

      &:hover {
        background: fade(#173da6, 10%);
        border-radius: 16px;
      }

      &.active {
        background: #173da6;
        color: #fff;
        font-weight: 600;
        border-radius: 8px;

        svg {
          color: #fff;
        }
      }

      svg {
        color: @primary-color;
      }
    }

    .progress-section {
      margin-top: 24px;
      text-align: center;

      p {
        margin-top: 12px;
        font-size: 13px;
        color: #555;
      }
    }
  }

  .profile-header {
    margin-bottom: 24px;
    border-radius: 16px;

    .ant-typography {
      margin-bottom: 0;
    }

    .ant-space {
      margin-top: 8px;

      .ant-typography {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
  }

  .stats-row {
    margin-bottom: -16px;

    .stat-card {
      border-radius: 12px;
      max-height: 132px;

      .ant-typography {
        margin: 8px;
      }
    }
  }

  .profile-photo {
    width: 100%;
    max-width: 120px;
    border-radius: 12px;
    object-fit: cover;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .ant-card {
    margin-bottom: 24px;
    border-radius: 16px;

    .ant-card-head {
      font-weight: bold;
    }
  }

  .ant-tag {
    font-size: 14px;
    padding: 4px 12px;
    // border-radius: 20px;
    background: #ffffff;
    // color: #1890ff;
  }

  ul {
    padding-left: 20px;
    margin-bottom: 0;

    li {
      line-height: 1.8;
      color: #555;
    }
  }
}

/* Responsive */
@media (max-width: 768px) {
  .student-profile {
    padding: 12px;

    .sidebar-card {
      margin-bottom: 24px;
      position: relative;
    }

    .profile-photo {
      max-width: 100px;
    }
  }
}

.ant-modal-content {
  border-radius: 12px;
}

.ant-form-item-label > label {
  font-weight: 500;
}

/* Increase thickness of the progress bar */
.custom-progress-circle .ant-progress-circle-path {
  stroke-width: 10px !important; /* default is ~6px */
}

.custom-progress-circle .ant-progress-circle-trail {
  stroke-width: 10px !important;
}
